section{
    margin: 100px auto 0;
    width: 98%;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.create__post{
    width: 90%;
    border: 1px solid rgb(78, 81, 78);
    padding: 10px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.filed{
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px 0 20px;
}

.filed p{
    letter-spacing: 5px;
    font-size: 20px;
    text-align: left;
}


.item input{
    height: 40px;
    z-index: 2;
    border: 1px dashed rgb(0, 136, 255);
    border-radius: 10px;
    width: 100%;
    padding: 8px 10px;
}


.button_href {
    display: block;
    width: 90%;
    height: 40px;
    margin: 5px 5%;
    background-color: rgb(0, 136, 255);
    color: #fff;
    padding: 7px 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    border: none;
}

@media only screen and (max-width: 800px){
    .filed{
        grid-template-columns: auto;
    }

    .create__post{
        width: 100%;
    }
}

@media only screen and (max-width: 400px){
    .item h2{
        font-size: 18px;
        width: 80vw;
    }
}