.container{
    width: 100vw;
}

.main-section{
    display: flex;
    justify-content: space-between;
    padding: 100px 30px;
    height: inherit;
}

.main-section__info{
    margin: 100px 0;
    flex: 1;
}

.main-section__welcome{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #797979;
}

.main-section__action{
    margin-top: 30px;
}

.main-section__action a{
    color: #fff;
}

.main-section__title{
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
}

.main-section__position{
    color: #05364d;
}

.main-section__image{
    text-align: right;
    margin-top: 50px;
    width: 60%;
    height: 400px;
}

.main-section__image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}



/* view blog */
.view_blog{
    width: 100%;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.grid_item{
    margin: 10px;
}

.view_blog-image{
    width: 110%;
    margin: 0 -2%;
    background-color: #fff;
    border-radius: 10px;
    grid-column: 1/2;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.view_blog-image img{
    width: 100%;
    border-radius: 10px;
}

.view_blog-welcome{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.view_blog-title{
    text-align: center;
    margin: 5px 0;
}

.view_blog-info{
    width: 86%;
    margin: 0 5% 0;
    grid-column: 2/4;
    float: right;
}

.view_blog-about{
    font-size: 40px;
}

/* end view blog */


/* start payment section */

.payment__section{
    width: 80%;
    margin: 10px auto 40px;
    padding: 20px;
}

.all_image{
    width: 100%;
    height: 450px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.all_image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.bloging__container{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.bloging_info{
    width: 100%;
}

.bloging_info-title{
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    color: #05364d;
}

.bloging_info-paragraph{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #797979;
}

.bloging_info-image{
    width: 33vw;
    height: 400px;
    padding: 5px;
}

.bloging_info-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn_blog{
    margin-left: 13%;
}

/* end payment section */











/* footer */
footer{
    width: 100%;
    background-color: rgb(38,39,43);
    padding: 20px;
}

.footer__title{
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.footer__paragraf{  
    text-align: center;
    color: #fff;
    margin-top: 30px;
}




@media only screen and (max-width: 1100px){
    .main-section{
        display: block;
    }

    .container{
        width: 100vw;
    }
    
    .main-section{
        margin-top: 100px;
    }

    .main-section__info, 
    .main-section__image{
        width: 100%;
        display: block;
        float: left;
    }

    .main-section__info{
        margin: 0;
    }

    .main-section__image{
        height: 400px;
        width: 80%;
        margin: 20px 10%;
    }
    /* payment section */
    
    .payment__section{
        width: 98%;
    }
    
    .all_image{
        width: 98%;
        margin: 0 0 40px;
    }

    .bloging_info-image{
        width: 40vw;
    }
    
    .bloging_info-title{
        margin-top: 50px;
    }

    .btn_blog{
        margin-left: 10%;
    }


    /* payment section */
}

@media only screen and (max-width: 900px){
    .main-section__image{
        height: 400px;
        width: 90%;
        margin: 20px 5%;
    }
    
    .view_blog{
        grid-template-columns: auto auto;
    }

    .view_blog-info{
        grid-column: 2/3;
    }

    /* payment section */
    .bloging__container{
        grid-template-columns: auto;
    }

    .bloging_info-image{
        width: 98%;
        margin: 40px auto 30px;
    }

    .btn_blog{
        margin-left: 13%;
    }

    .bloging_info-title{
        margin-top: 0px;
    }

    /* payment section */
}

@media only screen and (max-width: 760px){
    .main-section__image{
        width: 100%;
        height: 300px;
        margin: 10px 0;
    }

    .view_blog{
        padding: 10px;
    }

    /* payment section */
    .payment__section{
        padding: 20px 5px;
    }

    .all_image{
        width: 100%;
        height: 280px;
    }

    /* payment section */

}

@media only screen and (max-width: 700px){
    .main-section__action{
        font-size: 20px;
    }

    .main-section__title{
        font-size: 28px;
    }

    .view_blog-image{
        width: 100%;
    }

    .view_blog-info{
        width: 100%;
        margin: 0 auto;
    }


}


@media only screen and (max-width: 600px){
    .view_blog{
        grid-template-columns: auto;
    }

    .view_blog-image{
        width: 100%;
        margin: 0;
    }

    .view_blog-info{
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
    .main-section__image{
        height: 200px;
    }

    .main-section{
        margin-top: 70px;
    }

    /* payment section */
    .all_image{
        height: 200px;
        margin-bottom: 20px;
    }

    .bloging_info-title{
        font-size: 20px;
    }

    .bloging_info-paragraph{
        font-size: 16px;
    }

    .btn_blog{
        margin-left: 25%;
        margin-top: 20px;
    }
    /* payment section */
   
}
